---
const eventsData = [
  {
    img: "./img/eventbillede1.svg",
    alt: "billede",
    title: "Test",
    shortText: "Jeg keder mig en lill e smilesdbfkjashgfushgioewhfjkhasdfhusdhfuishdfJeg keder mig en lill e smilesdbfkjashgfushgioewhfjkhasdfhusdhfuishdfJeg keder mig en lill e ",
    timeStart: "10:00",
    timeEnd: "10:45",
    stage: "Main",
  },
  {
    img: "./img/eventbillede1.svg",
    title: "Test2",
    shortText: "A colorful day again",
    timeStart: "11:00",
    timeEnd: "11:45",
    stage: "Second",
  },
  {
    img: "./img/eventbillede1.svg",
    title: "Test2",
    shortText: "A colorful day again",
    timeStart: "11:00",
    timeEnd: "11:45",
    stage: "Second",
  },
];
---

<ul>
  {
    eventsData.map((event) => (
      <article>
        <img src={event.img} alt={event.alt} />
        <div class="tekstkasse">
          <h2>{event.title}</h2>

          <p>{event.shortText}</p>
          <section>
            <p class="time">
              {event.timeStart} - {event.timeEnd} - {event.stage} stage
            </p>
          </section>

          <div class="knap">
            <a href="#">
              READ MORE <img src="./img/pil.svg" />
            </a>
          </div>
        </div>
      </article>
    ))
  }
</ul>

<style>
  /* h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
  } */

  .time {
  }
  article {
    background-color: var(--pink-bg);
    padding: 0.5rem;
    display: flex;
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
  }

  a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #F94361;
  }

  .tekstkasse {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .knap {
    display: flex;
    justify-content: flex-end;
  }
</style>
